@use '../../styles/variables' as vars;

.modal.fade.show {
  opacity: 1;
  animation: fadeIn vars.$transition-fast;
}

.modal-dialog {
  animation: slideIn vars.$transition-normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
