@use '../../styles/variables' as vars;

.font-monospace {
  font-size: vars.$font-size-sm;
  background-color: vars.$bg-light;
}

.accordion-button {
  font-weight: vars.$font-weight-medium;

  &:not(.collapsed) {
    background-color: #e7f3ff;
    color: vars.$primary-color;
  }
}

.accordion-body {
  ol {
    padding-left: vars.$spacing-lg;

    li {
      margin-bottom: vars.$spacing-sm;
    }
  }

  a {
    text-decoration: none;
    font-weight: vars.$font-weight-medium;

    &:hover {
      text-decoration: underline;
    }
  }
}
